@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    font-family: Poppins;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", serif ;
    
}



:root {
    --primaire: #A4074D ;
    --bg : #F9FCFF;
   

}

nav a:hover {
    color: var(--primaire);
}

button {
    transition: 0.5s ease;
}
button:hover {
     background-color:  #c50b5f;
     cursor: pointer;
}
.btn1:hover {
     background-color:  #e23a8ee8;
     color: white;
}

input::placeholder {
    font-size: 12px;
}

.experience_item:hover {
    background-color: white;
    cursor: pointer;
    color:var(--primaire);
    border-radius: 20px;
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.068);

}

.our_class:hover {
    box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.068);
}


.experience_item:hover ion-icon 
,button:hover ion-icon {
    animation: fleche 1s ease-in-out infinite;
}

@keyframes fleche {
    0%{
        transform: translateX(10px);
    }
    100% {
        transform: translate(0px);
    }
}